<header class="header" id="header">
    <div>
        <a href="#">
            <picture></picture>
        </a>
        <ul>
            <li>
                <a href="#about">About us</a>
            </li>
            <li>
                <a href="#tours">Tours</a>
            </li>
            <li>
                <a href="#reviews">Reviews</a>
            </li>
            <li>
                <a href="#gallery">Gallery</a>
            </li>
            <li>
                <a href="#contacts">Contacts</a>
            </li>
        </ul>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</header>